@font-face {
  font-family: 'Suboleya Regular';
  src: url('/fonts/Suboleya/SuboleyaRegular.ttf');
}

html,
body {
  min-width: 378px;
  margin: 0;
  padding: 0;
  /* background-color: blanchedalmond; */
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: 'Suboleya Regular';
  font-size: 35px;
}

ul {
  font-family: 'Suboleya Regular';
  list-style: none;
}
ul > li {
  padding-top: 5px;
}

.header {
  min-width: 378px;
  font-family: 'Suboleya Regular';
  text-align: center;
  height: 70px;
  margin-bottom: 20px;
  /* padding-top: 10px; */
  /* padding-left: 30px;  */
  background-color: white;
}

.header > .title {
  text-align: left;
  font-size: 20px;
}

.header > .description {
  font-size: 10px;
  text-align: right;
}

.menu {
  float: left;
  vertical-align: top;
  font-family: 'Suboleya Regular';
  font-size: 20px;
}

.menu ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
}

.status {
  text-align: center;
}

.ava {
  margin: auto auto;
  width: 200px;
  text-align: center;
}

.ava img {
  height: 150px;
  width: 150px;
  border-radius: 40px;
}

.content {
  /* min-width: 378px; */
  /* padding-left: 20px; */
  /* margin-left: 240px; */
}

.pc-photo {
  /* display: inline; */
}

.pc-photo > .photo {
  height: 10%;
}

#link ul {
  list-style: none;
  padding: 10px;
  font-family: 'Suboleya Regular';
  font-size: 20px;
}

#link ul > li {
  padding-top: 10px;
}

.footer {
  min-width: 378px;
  font-family: 'Suboleya Regular';
  text-align: center;
  height: 60px;
  padding-top: 30px;
  background-color: white;
}

p {
  font-size: 15px;
}

@media screen {
}
